{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'one' %}
{% block content %}
<h2 class="sub-header">Categoría</h2>
<dl>
    <dt>Id</dt>
    <dd>{{ entity.id }}</dd>
    <dt>Name</dt>
    <dd>{{ entity.name }}</dd>
    <dt>Descripción</dt>
    <dd>{{ entity.description }}</dd>
    <dt>Slug</dt>
    <dd>{{ entity.slug }}</dd>
</dl>
<ul class="record_actions">
    <li>
        <a href="{{ path('poi_categroy') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('poi_categroy_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
