<div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><a href="#">Nombre</a></th>
            <th><a href="#">Direccion</a></th>
            <th><a href="#">Fecha Creación</a></th>
            <th><a href="#">Actualización</a></th>
            <th><a>Acciones</a></th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.address }}</td>
            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('poi_point_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
       {% if last_page > 1 %}
        <div class="pagination">
            <a href="{{ path(dest_path, { 'page': 1 }) }}">
                <img src="{{ asset('bundles/poiwebapp/images/first.png') }}" alt="First page" title="First page" />
            </a>
 
            <a href="{{ path(dest_path, { 'page': previous_page }) }}">
                <img src="{{ asset('bundles/poiwebapp/images/previous.png') }}" alt="Previous page" title="Previous page" />
            </a>
 
            {% for page in 1..last_page %}
                {% if page == current_page %}
                    {{ page }}
                {% else %}
                    <a href="{{ path(dest_path, { 'page': page }) }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
 
            <a href="{{ path(dest_path, { 'page': next_page }) }}">
                <img src="{{ asset('bundles/poiwebapp/images/next.png') }}" alt="Next page" title="Next page" />
            </a>
 
            <a href="{{ path(dest_path, { 'page': last_page }) }}">
                <img src="{{ asset('bundles/poiwebapp/images/last.png') }}" alt="Last page" title="Last page" />
            </a>
        </div>
    {% endif %}
 
    <div class="pagination_desc">
        <strong>{{ total_items }}</strong> Puntos de interés
        {% if last_page > 1 %}
            - page <strong>{{ current_page }}/{{ last_page }}</strong>
        {% endif %}
    </div>

</div>