{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'one' %}
{% block stylesheets %}
 {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/poiwebapp/css/searchGoogleMap.css') }}" type="text/css" media="all" />
{% endblock%}
{% block javascripts %}
 {{ parent() }}
    <script src="{{ asset('bundles/poiwebapp/js/googleMaps.js') }}"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', initializeSearchMap);
    </script>
{% endblock %}
{% block content %}
    <h2 class="sub-header">Crear Punto de Interés</h2>
    {% form_theme form 'POIWebAppBundle:Form:interactiveFiledsTemplate.html.twig' %}
   {# {{ form(form) }}#}
    <form class="form-horizontal" name="interactive_poiwebappbundle_pointofinterest" method="post" action="/POIWebApp/web/admin/point/create">
   {#{{ form_start(form) }}#}
        {{ form_errors(form) }}
        {{ form_row(form.geocity) }}
        {{ form_row(form.latitude) }}
        {{ form_row(form.longitude) }}
        <div class="container-fluid">
        {#<a href="{{ path('poi_map') }}">Map<a/>#}
            <input id="pac-input" class="controls" type="text" placeholder="Ingrese ubicación">
            <div id="type-selector" class="controls">
                <input type="radio" name="type" id="changetype-all" checked="checked">
                <label for="changetype-all">Todo</label>

                <input type="radio" name="type" id="changetype-establishment">
                <label for="changetype-establishment">Establecimientos</label>

                <input type="radio" name="type" id="changetype-geocode">
                <label for="changetype-geocode">GeoCódigos</label>
            </div>
            <div id="map-canvas" class="row" style="height: 400px"></div>
        </div>
        {#{{ form_row(form.submit) }}#}
        {{ form_row(form.description) }}
        {{ form_row(form.address) }}
        {{ form_row(form.category) }}
        {#<div>
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" type="submit" id="interactive_poiwebappbundle_pointofinterest_submit" name="interactive_poiwebappbundle_pointofinterest[submit]">Crear Punto</button>
            </div>
        </div>#}
        {{ form_end(form) }}
   </form>
{% endblock %}

