{% extends 'POIWebAppBundle:Administrator:dashboard.html.twig' %}
{% set menu_selected = 'one' %}
{% block content %}
<h2 class="sub-header">Punto de Interés</h2>
<dl>
    <dt>Id</dt>
    <dd>{{ entity.id }}</dd>
    <dt>Latitud</dt>
    <dd>{{ entity.latitude }}</dd>
    <dt>Longitud</dt>
    <dd>{{ entity.longitude }}</dd>
    <dt>Descripción</dt>
    <dd>{{ entity.description }}</dd>
    <dt>Es Activo</dt>
    <dd>{{ entity.isactivated }}</dd>
</dl>
<ul class="record_actions">
    <li>
        <a href="{{ path('poi_point') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('poi_point_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
